* text=auto eol=lf
gradle/wrapper/gradle-wrapper.jar -filter -diff -merge -text
*.{png,jpg,jpeg,gif,svg,ico} binary
*.{mp3,ogg,wav,flac}        binary
*.{jar,zip,tar.gz,tgz}      binary
*.jar filter=lfs diff=lfs merge=lfs -text
